<section class="container">
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Bem vindo {{ title }}!  
    </h1>

    <meu-primeiro-component></meu-primeiro-component>
    <app-meu-primeiro2></app-meu-primeiro2>
    
    <!-- <meu-primeiro-component2></meu-primeiro-component2> -->
  </div>
  <select #classe (change)="0">
    <option value="alert-success">Sucesso</option>
    <option value="alert-info">Info</option>
    <option value="alert-warning">Perigo</option>
    <option value="alert-danger">Erro</option>
  </select>
  <div class="alert" role="alert"
    [class.alert-success]="classe.value == 'alert-success'">
    Sucesso</div>
  <div class="alert" role="alert">Info</div>
  <div class="alert" role="alert">Perigo</div>
  <div class="alert" role="alert">Erro</div>
  <app-products></app-products>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </li>
  </ul>


</section>

